$color-white: #fff;
$color-blue: #2392c0;
$color-pink: #aa0068;
$color-cyan: #018577;
$color-orange: #e65d18;

$font-size-card-title: 1rem;
$font-size-sub-title: 1.5rem;

* {
  box-sizing: border-box;
}

.carousel {
  height: 600px;
}
.title {
  height: 20%;
  > ol {
    display: flex;
    justify-content: center;
  }
  &__card {
    font-size: $font-size-card-title;
    color: $color-white;
    text-align: center;
    width: 160px;
    height: 60px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &_blue {
      background-color: $color-blue;
    }
    &_pink {
      background-color: $color-pink;
    }
    &_cyan {
      background-color: $color-cyan;
    }
    &_orange {
      background-color: $color-orange;
    }
  }
}

.contents {
  height: 250px;
  position: relative;
  > ol {
    height: 100%;
    overflow: hidden;
  }
  .item {
    position: absolute;
    top: 0;
    left: 50%;
    width: 640px;
    display: flex;
    opacity: 0;

    transition: all 0.5s;

    &__img-container > img {
      width: 240px;
    }

    &__desc {
      flex: 1;
      margin-left: 24px;
    }
    .desc {
      &__title {
        font-size: $font-size-sub-title;
      }
    }
  }
  &__button {
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: grey;
    border-radius: 20px;
    top: 50%;
    transform: translateY(-50%);
    &_left {
      left: 40px;
    }
    &_right {
      right: 40px;
    }
  }
}
